<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 敵画像の保存パスを絶対パス指定で設定すること -->
    <!-- 例）<add key="EnemyImageDirectory" value="G:\ruby_game\click_rpg\image\enemy\" /> -->
    <add key="EnemyImageDirectory" value="G:\ruby_game\click_rpg\image\enemy\" />
    <!-- 敵データを保存するEnemy_Data.rbまでの絶対パスを指定 -->
    <!-- 例）<add key="EnemyDataFilePath" value="G:\ruby_game\click_rpg\scripts\Enemy_Data.rb" /> -->
    <add key="EnemyDataFilePath" value="G:\ruby_game\click_rpg\scripts\Enemy_Data.rb" />
  </appSettings>
</configuration>